.panel {
  background-color: #638dff;
  border-style: solid;
  border-radius: 20px;
  border-color: white;
  border-width: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  width: 50%;
  margin: auto;
}