.panel {
  background-color: #a6d5ff;
  border-style: solid;
  border-radius: 20px;
  border-color: #2a98f7;
  border-width: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #2a98f7;
  text-align: center;
  width: 50%;
  margin: auto;
}